{
  "semi": true,
  "singleQuote": true,
  "xmlWhitespaceSensitivity": "ignore",
  "proseWrap": "always",
  "overrides": [
    {
      "files": "**/host-meta",
      "options": {
        "parser": "xml"
      }
    }
  ]
}
