{
  "semi": true,
  "singleQuote": true,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "**/host-meta",
      "options": {
        "parser": "xml",
        "xmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
