@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-size: 200%;
        font-weight: 600;
    }
    h2 {
        font-size: 180%;
        font-weight: 500;
    }
    a {
        @apply text-blue-800 visited:text-purple-800 dark:text-blue-200 dark:visited:text-purple-200 underline;
    }
    p {
        @apply text-justify;
        margin: 1ex 0;
    }
    ol {
        @apply list-decimal;
    }
    ul {
        @apply list-disc;
    }
    li {
        @apply list-item list-inside;
    }
    nav {
        padding-top: 1ex;
    }
    blockquote {
        @apply border-s-4 border-slate-300 dark:border-slate-500 ps-2 pe-3 my-[1ex];
    }
    code {
        font-variant-numeric: tabular-nums;
        font-family: 'JetBrains Mono', ui-monospace, monospace;
    }
}

@layer utilities {
    .wrap-parens {
        @apply before:content-['('] after:content-[')'];
    }
    .fonts {
        font-family: 'IBM Plex Sans', Roboto, sans-serif;
        font-size: clamp(100%, 2vmax, 125%);
    }
    .smaller {
        font-size: smaller;
    }
    .grid-cols-centre > * {
        @apply col-2;
    }
    .padding-std {
        padding: clamp(0.5rem, 1vmin, 2rem);
    }
    .main-title {
        font-weight: 700;
        font-size: 250%;
    }
}
